#map { width: 100%; height: 500px;}

body {
  font-size: 18px;
}

a, a:hover {
    color: #238b45;
}

#received th {
    cursor: pointer;
}

#received th.sortDown {
    background-image: url('../images/desc.gif');
    background-color: #ccc;
}

#received th.sortUp {
    background-image: url('../images/asc.gif');
    background-color: #ccc;
}

.navbar-header>.navbar-brand, .navbar-inverse .navbar-nav>li>a {color: #238b45; margin-top: 7px;}

#logo img { margin: 5px 0 5px 0;}

.pull-left img { margin-right: 20px; }

#search_address {
    width: 400px;
}

#lot-form input[type=checkbox] { margin-left: 20px; }



.btn {
    text-transform: none;
    font-size: 15px;
    font-weight: normal;
}

.btn-primary {
    background-color: #333;
    border-color: #333;
}

.btn-primary:hover {
    background-color: #555;
    border-color: #555;
}

.btn-danger {
    background-color: #A1285D;
    border-color: #A1285D;
}

.btn-danger:hover {
    background-color: #ca3275;
    border-color: #ca3275;
}

.btn-success {
    background-color: #389250;
    border-color: #389250;
}

.btn-success:hover {
    background-color: #46b764;
    border-color: #46b764;
}

#print-page:hover { background-color: #eee; }

#print-page { color: #555; }

.alert-success {
    background-color: #238B45;
    border-color: #238B45;
}

.alert-success a:hover {
    color: #fff;
}


/* leaflet legend styles */
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.label-available { background-color: #389250; }
.label-applied { background-color: #A1285D; }
.label-danger { background-color: #BE4630; }
.label-success { background-color: #389250; }

/* Form Styling */

.red { color: red; }
.open { color: #389250;}
.closed { color: #A1285D;}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
