{% extends "base.html" %}
{% block title %} | About {% endblock %}
{% block content %}
  <div class='col-md-8'>
    <h2>About</h2>

    <p>The <strong>Cleveland Lots</strong> website is brought to you by <a href='http://opencleveland.org'>Open Cleveland</a>, a Code for America brigade, in conjunction with the <a href='http://portal.cleveland-oh.gov/CityofCleveland/Home/Government/CityAgencies/CommunityDevelopment/LandBank'>City of Cleveland Land Bank</a> and supported by <a href='http://www.npi-cle.org/'>Cleveland Neighborhood Progress</a>. The program aims to:</p>
    <ul>
      <li>Give local residents greater access to vacant land in their neighborhood</li>
      <li>Dispose of some of the City-owned land in these neighborhoods efficiently, which returns the land to the tax rolls</li>
      <li>Increase safety, build community, and raise home values by creating more neighborhood-level investment</li>
    </ul>

    <h3>Built with open data</h3>
    <p>This site was built using data from the <a href='http://neocando.case.edu/nst/'>NST web application</a>, provided by the <a href='http://povertycenter.case.edu/'>Center on Urban Poverty and Community Development</a> at Case Western Reserve University.
      
    <p>We prepared some extracts of the above sources for this project. You can download those here:</p>

    <ul>
        <li>Available lots (<a href="https://opencleveland.cartodb.com/tables/joined/public/table">CartoDB</a>, downloadable as CSV, SHP, GEOJSON</li>
        <li>Parcel boundaries (<a href="https://brigades.opendatanetwork.com/NEIGHBORHOODS/Cleveland-Parcel-Boundaries/auw9-csgs"> Socrata</a>, downloadable as CSV, JSON, SHP, KML) </li>
    </ul>

    <h3>Open source code</h3>
    <p>All the code for this site is open source and <a href='https://github.com/opencleveland/large-lots'>available on Github</a>. This project is forked from <a href='https://github.com/datamade/large-lots'>DataMade</a>, who built the original Large Lots site for <a href='https://largelots.org'>Chicago</a>. We used the following open source tools:</p>

    <ul>

      <li><a href='https://www.djangoproject.com'>Django</a> - web framework</li>
      <li><a href='http://getbootstrap.com/'>Bootstrap</a> - Responsive HTML, CSS and Javascript framework</li>
      <li><a href='http://leafletjs.com/'>Leaflet</a> - javascript library interactive maps</li>
      <li><a href='http://cartodb.com'>CartoDB</a> - platform for rendering interactive map tiles</li>
      <li><a href='https://csvkit.readthedocs.org/en/0.9.1/'>csvkit</a> - command line utility tool for working with CSV files</li>
      <li><a href='https://github.com/asual/jquery-address'>jQuery Address</a> - javascript library creating RESTful URLs</li>
    </ul>

    <h3>Press</h3>

    <p> Hopefully we'll get some soon!
  </div>
{% endblock %}
