{% extends "base.html" %}
{% load lots_filters %}
{% block title %} | Confirmation {% endblock %}
{% block content %}
<div class="col-sm-8 col-sm-offset-2">
    <div class="row">
        <div class="col-sm-12">
            <p>
                <a class='btn btn-default' id='print-page' href="#">
                    <i class='fa fa-print'></i>Print this page for your records
                </a>
            </p>
            <h1>Thanks for applying, {{app.first_name}}!</h1>
            {% if app.email %}
            <p>You should receive confirmation email shortly.</p>
            {% endif %}

 <div class="row">
        <div class="col-sm-12">
            <h3>Application information: </h3>
            <table class="table table-bordered table-condensed">
                <tbody>
                    <tr>
                        <td>Application ID</td>
                        <td>
                            {{app.tracking_id}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
 </div>

            <h3>Lot information:</h3>
            {% if lots|length > 1 %}
        </div>
        {% for lot in lots %}
            <div class="col-sm-6">
<!--
                <img class="img-responsive img-thumbnail" src="http://cookviewer1.cookcountyil.gov/Jsviewer/image_viewer/requestImg.aspx?{{lot.pin|remove_str:'-'}}=" />
-->
                <table class="table table-bordered table-condensed">
                    <tbody>
                        <tr>
                            <td>Address</td>
                            <td>{{lot.address.street}}</td>
                        </tr>
                        <tr>
                            <td>PPN</td>
                            <td>
                                {{lot.ppn}}  
			    </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
        {% else %}
        </div>
        {% for lot in lots %}
        <div class="col-sm-12">
<!--
            <img class="img-responsive img-thumbnail" src="http://cookviewer1.cookcountyil.gov/Jsviewer/image_viewer/requestImg.aspx?{{lot.pin|remove_str:'-'}}=" />
-->
            <table class="table table-bordered table-condensed">
                <tbody>
                    <tr>
                        <td>Address</td>
                        <td>{{lot.address.street}}</td>
                    </tr>
                    <tr>
		      <td>PPN</td>
                            <td>
                            {{lot.ppn}}
                            </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Ownership information: </h3>
            <table class="table table-bordered table-condensed">
                <tbody>
                    <tr>
                        <td>Address</td>
                        <td>
                            {{app.owned_address.street}}
                            {{app.owned_address.city}},
                            {{app.owned_address.state}}
                        </td>
                    </tr>
                    <tr>
                        <td>Plan image</td>
                        <td><a href="{{app.plan_image.url}}" target="_blank">Download</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Contact information:</h3>
            <table class="table table-bordered table-condensed">
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{app.first_name}} {{app.last_name}}</td>
                    </tr>
                    <tr>
                        <td>Address (blank if same as owned property)</td>
			<td>
                            {{app.contact_address.street}}
                            {{app.contact_address.city}},
                            {{app.contact_address.state}}
                            {{app.contact_address.zip_code}}
                        </td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{app.phone}}</td>
                    </tr>
                    {% if app.phone_2 %}
                        <tr>
                            <td>Secondary phone</td>
                            <td>{{app.phone_2}}</td>
                        </tr>
                    {% endif %}
                    {% if app.email %}
                        <tr>
                            <td>Email</td>
                            <td>{{app.email}}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p><strong>If you have any questions, please contact:</strong></p>
            <p>
              City of Cleveland Land Bank<br />
              Phone: (216) 664-4126<br />
              Email: <a href='mailto:CD-ND@city.cleveland.oh.us'>CD-ND@city.cleveland.oh.us</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
      $("#print-page").on("click", function(){ window.print(); });
    </script>
{% endblock %}
