{% extends "base.html" %}
{% load staticfiles %}
{% block title %} | Apply {% endblock %}
{% block extra_css %}
    <style id="egp-styles">
      #egp_parcels {
        polygon-fill: #41ab5d;
        polygon-opacity: 0.7;
        line-color: #006d2c;
        line-width: 0.5;
        line-opacity: 1;
      }
    </style>
{% endblock %}
{% block content %}

<div class='col-md-12'>
  <h1>Side Yard Expansion
      <!-- {% if form %}
      <small class='open'>Open</small>
      {% else %}
      <small class='closed'>Closed</small>
      {% endif %} -->
  </h1>

  <p>If you own a home in Cleveland, you may be eligible to <strong>buy the vacant lot next door</strong> from the City of Cleveland for <strong>$200</strong>. The lot must <strong>share a border with</strong> land you already own. Only homeowners can apply, not renters, businesses, churches, or organizations.</p>
  <p>For more information, read the <a target='_blank' href='/faq/'>frequently asked questions (FAQ) page</a>.</p>


      <!-- SEARCH & PARCEL SELECTION -->
      <div class='row'>
        <div class='col-md-12'>
          <p>
            <h2 id='browse'>1. Browse for and select a lot</h2>
              <p><strong>Note:</strong> Not all properties listed on the map may be available. Contact the Land Bank for more information if necessary.</p>
	      <form class='form-inline hidden-print' id='lot-form'>
              <div class="form-group">
                <input style="margin-right:10px" class='form-control input-lg' id='search_address' placeholder='Enter your address' type='text' />
                <input class='btn btn-primary btn-lg' id='search' type='button' value='Search' />
              </div>
            </form>
          </p>
        </div>
        <!-- SEARCH BOX -->
        <div class='col-md-4'>
          <div class='well' id='lot-info'>
            <p>To get started:</p>
            <ol>
              <li>Enter your address above or browse the map to view available lots
              <li>Click on a green lot for details</li>
            </ol>
          </div>
        </div>
        <!-- SEARCH MAP -->
        <div class='col-md-8'>
          <div id='map'></div>
        </div>
      </div>
      <br />




      <!-- PPN, ADDRESS, and OWNER ADDRESS INPUT -->
      <form role="form" id="application" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
          <div id="form-errors" class="row">
            <div class="col-md-8">
              <div class="form-group has-error">
                <h3>There were some problems with your application: </h3>
                {% for label, message in error_messages.items %}
                  <p class="help-block">
                    <strong>{{label}}</strong> {{message}}
                  </p>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}

        <!-- LOT INFORMATION -->
        <div class='row'>
          <div class='col-md-8'>
            <div class="panel panel-default" id='selected_lots'>
              <div class='panel-heading'>
                Your selected lot:
              </div>
              <div class="panel-body">
                <p>Use the map above and select the lot you want to apply for or enter the lot address and parcel number if you know it already</p>
                <p><span class="red">*</span>Required</p>
                <div class="row" id="lot-display">

                  <!-- LOT ADDRESS & PPN-->
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="col-sm-12">
                        <br />
                        <label for="lot_1_address">
                          <i class="fa fa-home"></i>
                          Lot address<span class="red">*</span>
                        </label>
                        {% if form.lot_1_address.errors %}
                        <div class="form-group has-error">
                        {% else %}
                        <div class="form-group">
                        {% endif %}
                          <div class="input-group">
                            <input type="text" value="{{ lot_1_address }}" class="form-control" id="id_lot_1_address" name="lot_1_address" placeholder="Street" />
                            <div class="input-group-addon">Cleveland, OH</div>
                          </div>
                          {% for error in form.lot_1_address.errors %}
                            <span class="help-block">{{ error }}</span>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                    {% if form.lot_1_ppn.errors %}
                    <div class="form-group has-error">
                    {% else %}
                    <div class="form-group">
                    {% endif %}
                      <label for="lot_1_ppn">Parcel Number<span class="red">*</span></label>
                      <input type="text" value="{{lot_1_ppn}}" class="form-control" id="id_lot_1_ppn" name="lot_1_ppn" placeholder="###-##-###">
                      {% for error in form.lot_1_ppn.errors %}
                        <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    </div>
                    <button class="clear-lot-selection btn btn-default" data-lot="1">
                      <i class="fa fa-times"></i> Clear
                    </button>
                    <br />
                  </div>


                  <!-- CURRENTLY USING LOT? -->
                  <div class="col-sm-12">

                    {% if form.lot_1_use.errors %}
                    <div class="form-group has-error">
                    {% else %}
                    <div class="form-group">
                    {% endif %}
                      <br />
                      <label for="id_lot_1_use">
                        {% if form.lot_1_use.errors %}
                        {% for error in form.lot_1_use.errors %}
                          <span class="help-block">{{ error }}</span>
                        {% endfor %}
                        {% else %}
                          Are you currently using this lot?<span class="red">*</span>
                        {% endif %}
                      </label>
                      <div class="row">
                        <div class="col-sm-2">
                          <select class="form-control" id="id_lot_1_use" name="lot_1_use">
                            <option></option>
                            <option value="Yes" {% if lot_1_use == 'Yes' %}selected=true{% endif %}>Yes</option>
                            <option value="No" {% if lot_1_use == 'No' %}selected=true{% endif %}>No</option>
                          </select>
                        </div>
                      </div>
                    </div>


                    <!-- IMPROVEMENTS ON LOT? -->
                    {% if form.lot_1_improvements.errors %}
                    <div class="form-group has-error">
                    {% else %}
                    <div class="form-group">
                    {% endif %}
                      <label for="id_lot_1_improvements">
                        {% if form.lot_1_improvements.errors %}
                        {% for error in form.lot_1_improvements.errors %}
                          <span class="help-block">{{ error }}</span>
                        {% endfor %}
                        {% else %}
                          Have you made any improvements to this lot?<span class="red">*</span>
                        {% endif %}
                      </label>
                      <div class="row">
                        <div class="col-sm-2">
                          <select class="form-control" id="id_lot_1_improvements" name="lot_1_improvements">
                            <option></option>
                            <option value="Yes" {% if lot_1_improvements == 'Yes' %}selected=true{% endif %}>Yes</option>
                            <option value="No" {% if lot_1_improvements == 'No' %}selected=true{% endif %}>No</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- IMPROVEMENT DESCRIPTIONS -->
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="col-sm-12">
                        <label for="lot_1_descr">List any improvements you've made to the lot, e.g. fencing, landscaping, mowing, etc.</label>
                        <div class="form-group">
                            <input type="text" value="{{ lot_1_descr }}" class="form-control" id="id_lot_1_descr" name="lot_1_descr"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class='row'>
          <div class='col-md-8'>
            <div class="panel panel-default" id='selected_lots'>
              <div class='panel-heading'>
                Your adjacent lot:
              </div>
              <div class="panel-body">
                <p>Provide the following information about the lot you own that is <strong>adjacent</strong> to the selected lot</p>
                <p><span class="red">*</span>Required</p>
                <div class="row" id="lot-display">

                  <!-- ADJACENT ADDRESS -->
                  <div class="col-sm-8">
                    <br />
                    <label for="owned_address">
                      <i class="fa fa-home"></i>
                      Address of owned, adjacent lot<span class="red">*</span>
                    </label>
                    {% if form.owned_address.errors %}
                    <div class="form-group has-error">
                    {% else %}
                    <div class="form-group">
                    {% endif %}
                      <div class="input-group">
                        <input type="text" value="{{ owned_address }}" class="form-control" id="id_owned_address" name="owned_address" placeholder="Street" />
                        <div class="input-group-addon">Cleveland, OH</div>
                      </div>
                      {% for error in form.owned_address.errors %}
                      <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>


                  <!-- WHO LIVES ON ADJACENT LOT? -->
                  <div class="col-sm-12">
                    {% if form.owned_live.errors %}
                    <div class="form-group has-error">
                    {% else %}
                    <div class="form-group">
                      {% endif %}
                      <label for="id_owned_live">
                        {% if form.owned_live.errors %}
                        {% for error in form.owned_live.errors %}
                          <span class="help-block">{{ error }}</span>
                        {% endfor %}
                        {% else %}
                          Who lives at this address?<span class="red">*</span>
                        {% endif %}
                      </label>
                      <div class="row">
                        <div class="col-sm-4">
                          <select class="form-control" id="id_owned_live" name="owned_live">
                            <option></option>
                            <option value="Owner-occupied" {% if owned_live == 'The owner' %}selected=true{% endif %}>The owner lives here</option>
                            <option value="Rental property" {% if owned_live == 'It is a rental property' %}selected=true{% endif %}>It is a rental property</option>
                            <option value="Empty" {% if owned_live == 'No one lives here' %}selected=true{% endif %}>No one lives here</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- IMPROVEMENTS ON LOT? -->
                  <div class="col-sm-12">

                    {% if form.owned_properties.errors %}
                    <div class="form-group has-error">
                    {% else %}
                    <div class="form-group">
                      {% endif %}
                      <label for="id_owned_properties">
                        {% if form.owned_properties.errors %}
                        {% for error in form.owned_properties.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                        {% else %}
                          Do you own any other properties in Cleveland?<span class="red">*</span>
                        {% endif %}
                      </label>
                      <div class="row">
                        <div class="col-sm-2">
                          <select class="form-control" id="id_owned_properties" name="owned_properties">
                            <option></option>
                            <option value="Yes" {% if owned_properties == 'Yes' %}selected=true{% endif %}>Yes</option>
                            <option value="No" {% if owned_properties == 'No' %}selected=true{% endif %}>No</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- LIST OTHER OWNED PROPERTY -->
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="col-sm-12">
                        <label for="owed_properties_info">If so, list the addresses, parcel numbers, and property types</label>
                        <div class="form-group">
                          <input type="text" value="{{ owed_properties_info }}" class="form-control" id="id_owed_properties_info" name="owed_properties_info"/>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>



        <!-- MAIN APPLICATION PART -->
        <div id="application">
          <!-- UPLOAD A PICTURE -->
          <div class='row'>
            <div class='col-md-8'>
              <div class="well" id="plan">
                <h2>2. Upload a picture of your proposed site plan</h2>
                <p><span class="red">*</span>Required</p>
                <p>To determine if your plans for the Land Bank lot meet city code and are appropriate for the neighborhood, a detailed site plan is required.</p>
                <h3>Instructions</h3>
                <ol>
                  <li>Draw an outline of the property you own and the outline of the Land Bank lot
                  <li>Draw and label existing features on <strong>your</strong> property <strong>and</strong> the Land Bank property</li>
                  <ul>
                    <li>Draw and label your existing house, sidewalk, driveway, garage, fencing, landscaping, etc., and illustrate what you plan to put on the Land Bank property</li>
                    <li>Label your street name and your house number</li>
                    <li>Draw an arrow to point <strong>north</strong></li>
                  </ul>
                  <li>If you plan to put up a new fence, show where, what material type (wood picket, decorative metal, etc., but <strong>not</strong> chain link in front), the height (note that fences in residential <strong>front</strong> yards cannot be over 4 feet high and must
                    be at least 50% see-through; other fences cannot be taller than 6 feet) </li>
                  <li> If your plans include new landscaping or a garden, indicate: <ul>
                    <li>Proposed location of any new grass, trees, shrubs or gardens (label each) </li>
                    <li> Proposed size of vegetation/gardens </li>
                    <li> Type of plants (native area plantings are highly encouraged). Refer to <a href="http://www.npi-cle.org/files/2012/07/IdeastoActionResourceBook.pdf">Re-Imagining Cleveland: Ideas to Action</a></li>
                    </ul>
                  </li>
                  <li>Show any other improvements you plan to make such as patios, walkways, play sets, gazebo, etc. </li>
                </ol>

                <h3>Sample site plan</h3>
                <p>
                  <img style="margin-left:auto;margin-right:auto" class='img-responsive' src="{% static 'images/SampleSitePlan.png' %}"/>
                </p>
                {% if form.plan_image.errors %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                  {% endif %}
                  <label for="id_plan_image"><i class='fa fa-upload'></i> Upload your proposed site plan</label><span class="red">*</span>
                  <input type="file" value="{{plan_image}}" id="id_plan_image" name="plan_image">
                  {% for error in form.plan_image.errors %}
                  <span class="help-block">{{ error }}</span>
                  {% endfor %}
                  <p class="help-block">Your plan must be in PDF or image (JPG, PNG) format. Max size 5mb.</p>
                </div>

                <!-- COST ESTIMATES -->
                <h3>Cost estimates</h3>
                <p>Describe improvements you will make to the lot and how much they will cost</p>

                <!-- FENCING -->
                {% if form.fencing_descr.errors or form.fencing_cost.errors %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                  {% endif %}
                  <label for="id_fencing_descr">Fencing (note that chain link does not meet code)</label>
                  <div class="row">
                    <div class="col-xs-6">
                      <input type="text" value="{{fencing_descr}}" class="form-control" id="id_fencing_descr" name="fencing_descr" placeholder="Description">
                      {% for error in form.fencing_descr.errors %}
                      <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    </div>
                    <div class="col-xs-2">
                      <input type="text" value="{{fencing_cost}}" class="form-control" id="id_fencing_cost" name="fencing_cost" placeholder="Cost">
                      {% for error in form.fencing_cost.errors %}
                      <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                </div>

                <!-- LANDSCAPING -->
                {% if form.landscaping_descr.errors or form.landscaping_cost.errors %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                  {% endif %}
                  <label for="id_landscaping_descr">Landscaping</label>
                  <div class="row">
                    <div class="col-xs-6">
                      <input type="text" value="{{landscaping_descr}}" class="form-control" id="id_landscaping_descr" name="landscaping_descr" placeholder="Description">
                      {% for error in form.landscaping_descr.errors %}
                      <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    </div>
                    <div class="col-xs-2">
                      <input type="text" value="{{landscaping_cost}}" class="form-control" id="id_landscaping_cost" name="landscaping_cost" placeholder="Cost">
                      {% for error in form.landscaping_cost.errors %}
                      <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                </div>

                <!-- Apron removal/Tree Lawn -->
                {% if form.apron_descr.errors or form.apron_cost.errors %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                  {% endif %}
                  <label for="id_apron_descr">Drive apron removal and tree lawn restoration</label>
                  <div class="row">
                    <div class="col-xs-6">
                      <input type="text" value="{{apron_descr}}" class="form-control" id="id_apron_descr" name="apron_descr" placeholder="Description">
                      {% for error in form.apron_descr.errors %}
                      <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    </div>
                    <div class="col-xs-2">
                      <input type="text" value="{{apron_cost}}" class="form-control" id="id_apron_cost" name="apron_cost" placeholder="Cost">
                      {% for error in form.apron_cost.errors %}
                      <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                </div>

                <!-- Other -->
                {% if form.other_descr.errors or form.other_cost.errors %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                  {% endif %}
                  <label for="id_other_descr">Other</label>
                  <div class="row">
                    <div class="col-xs-6">
                      <input type="text" value="{{first_name}}" class="form-control" id="id_other_descr" name="other_descr" placeholder="Description">
                      {% for error in form.other_descr.errors %}
                      <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    </div>
                    <div class="col-xs-2">
                      <input type="text" value="{{other_cost}}" class="form-control" id="id_other_cost" name="other_cost" placeholder="Cost">
                      {% for error in form.other_cost.errors %}
                      <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>



          <!-- CONTACT INFORMATION -->
          <div class='row'>
            <div class='col-md-8'>
              <div class="well" id="personal-info">
                <h2>3. Contact information</h2>
                <p><span class="red">*</span>Required</p>

                <!-- FIRST/LAST NAME -->
                {% if form.first_name.errors or form.last_name.errors %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                {% endif %}
                  <label for="id_first_name"><i class="fa fa-user"></i> Name<span class="red">*</span></label>
                  <div class="row">
                    <div class="col-xs-4">
                      <input type="text" value="{{first_name}}" class="form-control" id="id_first_name" name="first_name" placeholder="First name">
                      {% for error in form.first_name.errors %}
                        <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    </div>
                    <div class="col-xs-4">
                      <input type="text" value="{{last_name}}" class="form-control" id="id_last_name" name="last_name" placeholder="Last name">
                      {% for error in form.last_name.errors %}
                        <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                </div>

                <!-- PHONE NUMBER -->
                {% if form.phone.errors %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                {% endif %}
                  <label for="id_phone"><i class="fa fa-phone"></i> Phone number<span class="red">*</span></label>
                  <div class="row">
                    <div class="col-xs-4">
                      <input type="tel" value="{{phone}}" class="form-control" id="id_phone" name="phone" placeholder="###-###-####">
                    </div>
                  </div>
                  {% for error in form.phone.errors %}
                    <span class="help-block">{{ error }}</span>
                  {% endfor %}
                </div>

                <!-- SECOND PHONE NUMBER -->
                <div class="form-group">
                  <label for="id_phone_2"><i class="fa fa-phone"></i> Alternate phone number:</label>
                  <div class="row">
                    <div class="col-xs-4">
                      <input type="tel" value="{{phone}}" class="form-control" id="id_phone_2" name="phone_2" placeholder="###-###-####">
                    </div>
                  </div>
                </div>


                <!-- EMAIL -->
                {% if form.email.errors %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                {% endif %}
                  <label for="id_email"><i class="fa fa-envelope"></i> Email</label>
                  <div class="row">
                    <div class="col-xs-6">
                      <input type="email" value="{{email}}" class="form-control" id="id_email" name="email" placeholder="name@email.com">
                    </div>
                  </div>
                  {% for error in form.email.errors %}
                    <span class="help-block">{{ error }}</span>
                  {% endfor %}
                  <p class="help-block">If provided, we'll send you a confirmation email and updates on your application status.</p>
                </div>

                <!-- ADDRESS -->
                {% if form.contact_street.errors or form.contact_city.errors or form.contact_state.errors or form.contact_zip_code.errors %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                {% endif %}
                  <label for="id_contact_street">
                    <i class="fa fa-home"></i>
                    Mailing address, if different than the lot adjacent to the Land Bank property
                  </label>
                  <div class="row">
                    <div class="col-sm-5">
                      <input type="text" value="{{contact_street}}" class="form-control" id="id_contact_street" name="contact_street" placeholder="Street">
                    </div>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" value="{{contact_city}}" id="id_contact_city" name="contact_city" placeholder="City">
                    </div>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" value="{{contact_state}}" id="id_contact_state" name="contact_state" placeholder="State">
                    </div>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" value="{{contact_zip_code}}" id="id_contact_zip_code" name="contact_zip_code" placeholder="Zip">
                    </div>
                    {% for error in form.contact_street.errors %}
                      <div class="col-sm-12">
                        <span class="help-block">{{ error }}</span>
                      </div>
                    {% endfor %}
                  </div>
                </div>

                <!-- DROPDOWN OF HOW YOU HEARD ABOUT THIS -->
                {% if form.email.errors %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                {% endif %}
                  <label for="id_how_heard">Did you receive assistance in completing this application? If so, from whom?</label>
                  <div class="row">
                    <div class="col-sm-6">
                      <select class="form-control" id="id_how_heard" name="how_heard">
                        <option></option>
                        <option value='I did not receive assistance'>I did not receive assistance</option>
                        <option value="Friend, family, or neighbor" {% if how_heard == 'Friend or neighbor' %}selected=true{% endif %}>Friend or neighbor</option>
                        <option value="Community organization" {% if how_heard == 'Community organization' %}selected=true{% endif %}>Community organization</option>
                        <option value="City of Cleveland staff" {% if how_heard == 'City of Clevleand staff' %}selected=true{% endif %}>City of Cleveland</option>
                        <option value="Cleveland Public Library" {% if how_heard == 'Cleveland Public Library' %}selected=true{% endif %}>Cleveland Public Library</option>
                        <option value="Other" {% if how_heard == 'Other' %}selected=true{% endif %}>Other</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- TERMS -->
        <div class='row'>
          <div class='col-md-8'>
            <div id="terms">
              <h2>4. Eligibility and Terms</h2>
              <h3>Program Eligibility</h3>
              <ul>
                <li>You can't owe money for property taxes, water bills, grass cutting, etc.</li>
                <li>Your home must meet building codes</li>
                <li>Owners of apartment buildings, businesses, churches, or organizations must apply using a different application for development</li>
                <li>If other adjacent home owners want to acquire the same lot, <strong>the lot can be split</strong> and transferred to the respective property owners. When lots are split, homeowners are required to administer and pay for lot surveys as well as the recording of a lot consolidation plan. The cost varies and may exceed $1,000</li>
              </ul>
              <h3>Buyer responsibilities</h3>

              <ul>
                <li>Parcels are sold for $200 each. Recording fees typically range from $70-$100</li>
                <li>You will need to pay property taxes. For a future property tax estimate, contact the Cuyahoga County Fiscal Office at 216-443-7010 or check the <a href="http://fiscalofficer.cuyahogacounty.us/en-US/property-tax-calculator.aspx">property tax calculator</a></li>
                <li>The City is not responsible for cleanup or improvement</li>
                <li>Applicant must obtain all necessary approvals and permits from the City prior to making any improvements or commencing construction. Detailed information can be found on the City’s <a href="http://portal.cleveland-oh.gov/CityofCleveland/Home/Government/CityAgencies/BuildingHousing/PermitGuide">website</a></li>
                <li>You can't use the lot for commercial purposes, parking, storing vehicles or materials, or any use prohibited by code</li>
              </ul>
              <h3>Terms</h3>
              <p>The City reserves the right to accept or reject any and all land use proposals. Land use criteria are largely based on the City’s 2020 Citywide Plan, its Sustainable Development Pattern initiative, and input from community development corporations and City Council members. Additionally, side yard requests may not be approved in neighborhoods where there is a demand for new housing</p>
              <p>The City may place conditions on the sale and incorporate them as deed restrictions. If the buyer fails to make proposed improvements or properly maintain the property, the City may exercise its discretion and take back title to the property. Typical deed restrictions may include but are not limited to:</p>
              <ol>
                <li>Removal of driveway apron (curb cut), reinstatement of curb and tree lawn</li>
                <li>Installation of new fencing to code regarding setback, height restrictions and materials. In some cases, all existing fencing may be required to be brought up to code</li>
                <li>Completion of new landscaping to code</li>
                <li>The combined properties must be maintained in a decent, safe and sanitary manner. This includes keeping the properties free and clear of debris and weeds</li>
              </ol>
              <p>By checking the box below, I certify that the information provided is correct and true to the best of my knowledge. Falsifying or deliberately omitting any information regarding this application will result in immediate termination from the program and/or the City of Cleveland seeking remedies available under law</p>

              <div class='well'>
                {% if form.terms.errors %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                {% endif %}
                  <div class="checkbox">
                    <label>
                      <input id="id_terms" name="terms" type="checkbox" {% if terms %}checked=true{% endif %}/>
                        {% if form.terms.errors %}
                        {% for error in form.terms.errors %}
                          <span class="help-block">{{ error }}</span>
                        {% endfor %}
                        {% else %}
                        I understand and agree to the terms<span class="red">*</span>
                        {% endif %}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- SUBMIT BUTTON -->
        <p><button type="submit" class="btn btn-success btn-lg">Submit application &raquo;</button></p>

        <p><strong>If you have any questions, please contact:</strong></p>
        <p>
           City of Cleveland Land Bank<br />
           Phone: (216) 664-4126<br />
           Email: <a href='mailto:CD-ND@city.cleveland.oh.us'>CD-ND@city.cleveland.oh.us</a>
        </p>
      </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalGeocode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><strong id='addr_search_modal'></strong> is not in Cleveland.</h4>
      </div>
      <div class="modal-body">
        <p>Only homeowners of Cleveland can purchase lots.</p>

        <p>If you think this is a mistake, try to include the street direction (N,S,E,W) or suffix (Ave, Dr, St, etc), or browse the map instead.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK, thanks</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extra_js %}
  <script type="infowindow/html" id="infowindow_template">
  <div class="cartodb-popup">
    <a href="#close" class="cartodb-popup-close-button close">x</a>
    <div class="cartodb-popup-content-wrapper">
      <div class="cartodb-popup-content">
        // <h4>{{content.data.street_number}} {{content.data.dir}} {{content.data.street_name}} {{content.data.type}}</h4>
        //   <p>PPN: {{content.data.ppn}}<br />
        //   Zoned: {{content.data.zoning_classification}}<br />
        //   Sq Ft: {{content.data.sq_ft}}<br />
        //   // Alderman: (Ward {{content.data.ward}})
        //   </p>
      </div>
    </div>
    <div class="cartodb-popup-tip-container"></div>
  </div>
  </script>
  <script src="{% static 'js/jquery.address.js' %}"></script>
  <script src="{% static 'js/jquery.scrollto.js' %}"></script>
  <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>

  <script src="{% static 'js/leaflet.label.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/largelots_cleveland.js' %}"></script>

  <script>
    $(function() {
      LargeLots.initialize();
    });

    $("#search").on("click", LargeLots.addressSearch);
    $("#apply_another").on("click", function(){ $("#map").ScrollTo({offsetTop: "70px"}); });
    $(document).on('keydown', function(e){
        if(e.keyCode == 13){
            e.preventDefault();
        }
    })
    $("#search_address").on("keydown", function(e){
      if(e.keyCode == 13){
        LargeLots.addressSearch(e);
      }
    });
    $("#print-page").on("click", function(){ window.print(); });
    if ($('#form-errors').length > 0){
        window.location.hash = 'form-errors';
        var menu_height = -Math.abs($('.navbar-header').height());
        window.scrollBy(0, menu_height);
    }
    $('.clear-lot-selection').on('click', function(e){
        e.preventDefault();
        var lot = $(e.target).data('lot');
        $('#id_lot_' + lot + '_address').val('');
        $('#id_lot_' + lot + '_ppn').val('');
    })

  </script>
{% endblock %}
