{% load lots_filters %}
<a id='logo' href="http://largelots.org">
  <img src='http://largelots.org/static/images/large_lots.png' alt='Large Lots' />
</a>
<div class="row">
    <h1>Thanks for Applying {{app.first_name}}!</h1>
    <p><a href="http://{{host}}/apply-confirm/{{app.tracking_id}}/">View this confirmation on LargeLots.org</a></p>

    <h3>Lot information:</h3>
    {% for lot in lots %}
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>Address</td>
                        <td>{{lot.address.street}}</td>
                    </tr>
                    <tr>
                        <td>PPN</td>
                        <td>{{lot.ppn}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <br />
    {% endfor %}
</div>
<div class="row">
    <h3>Ownership information:</h3>
    <table class="table table-bordered table-condensed">
        <tbody>
            <tr>
                <td>Address</td>
                <td>
                    {{app.owned_address.street}}
                    {{app.owned_address.city}},
                    {{app.owned_address.state}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <h3>Contact information:</h3>
    <table>
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{app.first_name}} {{app.last_name}}</td>
            </tr>
            <!-- <tr>
                <td>Organization</td>
                <td>{{app.organization}}</td>
            </tr> -->
            <tr>
                <td>Address</td>
                <td>
                    {{app.contact_address.street}}
                    {{app.contact_address.city}},
                    {{app.contact_address.state}}
                    {{app.contact_address.zip_code}}
                </td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>{{app.phone}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{app.email}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <p><strong>If you have any questions, please contact:</strong></p>
    <p>
       Jeanne Chandler, Department of Planning and Development<br />
       Phone: (312) 744-0605<br />
       Email: Jeanne.Chandler@cityofchicago.org
    </p>
</div>
