{% extends "base.html" %}
{% load lots_filters %}
{% block title %} | Confirmation {% endblock %}
{% block content %}
<div class="col-sm-8 col-sm-offset-2">
    <div class="row">
        <div class="col-sm-12">
            <p>
                <a class='btn btn-default' id='print-page' href="#">
                    <i class='fa fa-print'></i> Print this page for your records
                </a>
            </p>
            <h1>Thanks for Applying {{app.first_name}}!</h1>
            {% if app.email %}
            <p>You should receive confirmation email shortly.</p>
            {% endif %}
            <h3>Lot information:</h3>
            {% if lots|length > 1 %}
        </div>
        {% for lot in lots %}
            <div class="col-sm-6">
                <img class="img-responsive img-thumbnail" src="http://cookviewer1.cookcountyil.gov/Jsviewer/image_viewer/requestImg.aspx?{{lot.pin|remove_str:'-'}}=" />
                <table class="table table-bordered table-condensed">
                    <tbody>
                        <tr>
                            <td>Address</td>
                            <td>{{lot.address.street}}</td>
                        </tr>
                        <tr>
                            <td>PIN</td>
                            <td>
                                {{lot.pin}} (<a target="_blank" href="http://cookcountypropertyinfo.com/Pages/PIN-Results.aspx?PIN={{lot.pin|remove_str:'-'}}">info</a>)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
        {% else %}
        </div>
        {% for lot in lots %}
        <div class="col-sm-12">
            <img class="img-responsive img-thumbnail" src="http://cookviewer1.cookcountyil.gov/Jsviewer/image_viewer/requestImg.aspx?{{lot.pin|remove_str:'-'}}=" />
            <table class="table table-bordered table-condensed">
                <tbody>
                    <tr>
                        <td>Address</td>
                        <td>{{lot.address.street}}</td>
                    </tr>
                    <tr>
                        <td>PIN</td>
                        <td>{{lot.pin}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Ownership information: </h3>
            <table class="table table-bordered table-condensed">
                <tbody>
                    <tr>
                        <td>Address</td>
                        <td>
                            {{app.owned_address.street}}
                            {{app.owned_address.city}},
                            {{app.owned_address.state}}
                        </td>
                    </tr>
                    <tr>
                        <td>Plan image</td>
                        <td><a href="{{app.plan_image.url}}" target="_blank">Download</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Contact information:</h3>
            <table class="table table-bordered table-condensed">
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{app.first_name}} {{app.last_name}}</td>
                    </tr>
                    <tr>
                        <td>Organization</td>
                        <td>{{app.organization}}</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>
                            {{app.contact_address.street}}
                            {{app.contact_address.city}},
                            {{app.contact_address.state}}
                            {{app.contact_address.zip_code}}
                        </td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{app.phone}}</td>
                    </tr>
                    {% if app.email %}
                        <tr>
                            <td>Email</td>
                            <td>{{app.email}}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p><strong>If you have any questions, please contact:</strong></p>
            <p>
               Jeanne Chandler<br />
               Department of Planning and Development<br />
               Phone: (312) 744-0605<br />
               Email: <a href='mailto:Jeanne.Chandler@cityofchicago.org'>Jeanne.Chandler@cityofchicago.org</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
      $("#print-page").on("click", function(){ window.print(); });
    </script>
{% endblock %}
