{% load lots_filters %}
<div class="row">
    <h1>Thanks for applying, {{app.first_name}}!</h1>
    <p><a href="http://{{host}}/apply-confirm/{{app.tracking_id}}/">View this confirmation on ClevelandLots.org</a></p>

<div class="row">
    <h3>Application information:</h3>
    <table class="table table-bordered table-condensed">
        <tbody>
            <tr>
                <td>Application ID:</td>
                <td>
                    {{app.tracking_id}}
                </td>
            </tr>
        </tbody>
    </table>
</div>

    <h3>Lot information:</h3>
    {% for lot in lots %}
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>Address:</td>
                        <td>{{lot.address.street}}</td>
                    </tr>
                    <tr>
                        <td>PPN:</td>
                        <td>{{lot.ppn}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <br />
    {% endfor %}
</div>
<div class="row">
    <h3>Ownership information:</h3>
    <table class="table table-bordered table-condensed">
        <tbody>
            <tr>
                <td>Address:</td>
                <td>
                    {{app.owned_address.street}}
                    {{app.owned_address.city}},
                    {{app.owned_address.state}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <h3>Contact information:</h3>
    <table>
        <tbody>
            <tr>
                <td>Name:</td>
                <td>{{app.first_name}} {{app.last_name}}</td>
            </tr>
            <!-- <tr>
                <td>Organization</td>
                <td>{{app.organization}}</td>
            </tr> -->
            <tr>
                <td>Address (blank if same as owned property):</td>
                <td>
                    {{app.contact_address.street}}
                    {{app.contact_address.city}},
                    {{app.contact_address.state}}
                    {{app.contact_address.zip_code}}
                </td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td>{{app.phone}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{app.email}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <p><strong>If you have any questions, please contact:</strong></p>
    <p>
      City of Cleveland Land Bank<br />
      Phone: (216) 664-4126<br />
      Email: CD-DND@city.cleveland.oh.us
    </p>
</div>
