{% extends "base.html" %}
{% block title %} | FAQ {% endblock %}
{% block content %}
  <div class='col-md-10'>
    <h2>Frequently Asked Questions</h2>

    <div class='well'>
      <ul>
        <li><a href='#faq-how'>How do I purchase a sideyard?</a></li>
        <li><a href='#faq-where'>Where can I find an application?</a></li>
        <li><a href='#faq-pay'>Do I pay for the lot when I return the application?</a></li>
	<li><a href='#faq-cost'>How much does a property cost?</a></li>
        <li><a href='#faq-taxes'>How much in property taxes will I pay?</a></li>
        <li><a href='#faq-behind'>Can I buy the lot behind my home?</a></li>
        <li><a href='#faq-non-adjacent'>Why can’t I purchase a lot for a sideyard that isn’t adjacent to me?</a></li>
        <li><a href='#faq-prevent'>What would prevent me from getting the property that I am applying for?</a></li>
        <li><a href='#faq-council'>Would it help to speak to the person where the land bank parcel is located?</a></li>
        <li><a href='#faq-maintaining'>I’m already maintaining the vacant lot – does this increase my chances of getting it?</a></li>
        <li><a href='#faq-steps'>What are the steps in the application process?</a></li>
        <li><a href='#faq-decision'>Why can’t you tell me how long it will take to make a decision about my application?</a></li>
        <li><a href='#faq-notified'>How will I be notified when a decision is made about my application?</a></li>
        <li><a href='#faq-plant'>What can I plant in my sideyard?</a></li>
        <li><a href='#faq-fence'>Can I put a fence around my sideyard?</a></li>
        <li><a href='#faq-driveway'>What if the sideyard I purchase still includes the driveway apron?</a></li>
      </ul>
    </div>

    <h3 id='faq-how'>How do I purchase a sideyard?</h3>
    <p>You must own a home adjacent to the vacant lot you wish to purchase. The lot you desire must be owned by the city of Cleveland at the time of application. You must be current on your taxes, and your property must be free of any code violations. This applies to any additional property you may own in Cuyahoga County.</p>
    <p>You must submit an application to the city land bank. Applications must include a photo of your property, a photo of the vacant lot you wish to purchase, and a site design for the vacant lot.
    </p>
    
    <h3 id='faq-where'>Where can I find an application?</h3>
    <p>You can apply directly through this website! Applications can also be picked up at the office of Community Development at 601 Lakeside Ave., Room 320, Cleveland, OH 44114. You can also contact the office via phone or e-mail and request that an application be sent to you. Applications can be returned via mail, e-mail, fax, or at the office of Community Development.
      <ul>
        <li> Phone: (216) 664 – 4126 </li>
        <li> Fax: (216) 420 – 8042 </li>
        <li> E-mail: CD-DND@city.cleveland.oh.us </li>
        <li> Download the application <a href="http://www.city.cleveland.oh.us/sites/default/files/forms_publications/LandBankApplicationYardExpansions.pdf">here</a></li>
      </ul>
    </p>

    <h3 id='faq-pay'>Do I pay for the lot when I return the application?</h3>
    <p>No. You will be contacted if your application is approved and payment will be requested then. We are not able to process refund payment for applications paid for in advance in the event that the application is not approved.
    </p>

    <h3 id='faq-cost'>How much does a property cost?</h3>
    <p>Cost is determined by the planned use.
      <ul>
        <li> Side Yard Expansion: $200 </li>
        <li> New Housing Construction Lot: $200, unless located in an area of high demand </li>
        <li> Development Lots: by appraised value </li>
        <li> Agriculture/Garden Lots: Licensed for $1 a year </li>
      </ul>
    </p>

    <h3 id='faq-taxes'>How much in property taxes will I pay?</h3>
    <p>No. You will be contacted via mail if your application is approved and payment will be requested then. We are not able to process refund payment for applications paid for in advance in the event that the application ends up not being approved.</p>



    <h3 id='faq-behind'>Can I buy the lot behind my home?</h3>
    <p>These purchases are discouraged because the residents who are adjacent and share a side property line may be interested in purchasing the lot. Also, while the lot may be a valued addition for your personal property, the flow of the street on which the lot resides may be interrupted by a lot used in that way.</p>

    <h3 id='faq-non-adjacent'>Why can’t I purchase a lot for a sideyard that isn’t adjacent to me?</h3>

    <p>Lots not adjacent to your property are not considered side yards and aren’t eligible for purchase for that purpose. Lots not adjacent to your property have potential for development or greenspace only. Those applications can be found <a href = "http://www.city.cleveland.oh.us/CityofCleveland/Home/Government/CityAgencies/CommunityDevelopment/LandBank">here</a>.</p>

    <h3 id='faq-prevent'>What would prevent me from getting the property that I am applying for?</h3>

    <p>Reasons to deny a resident’s request to purchase a lot might be, but are not limited to:
      <ul>
        <li>Delinquent taxes</li>
        <li>Poor condition of applicant’s own property</li>
        <li>If applicant’s property has gone into foreclosure (even if payment arrangements have been made). </li>
        <li>Your proposal is not the best fit for the neighborhood. </li>
      </ul>
    </p>

    <h3 id='faq-council'>Would it help to speak to the person where the land bank parcel is located?</h3>

    <p>Speaking to the council person for the area is never a bad idea, Their support is important, they do not have the only say in decision making.</p>

    <h3 id='faq-maintaining'>I’m already maintaining the vacant lot – does this increase my chances of getting it?</h3>

    <p>Providing maintenance (mowing, removing trash, etc.) to a lot you wish to purchase can demonstrate that you would be willing and capable of continuing to take care of the property if it was sold to you. However, no resident is required to maintain a vacant lot. Even if you have not done any maintenance to the lot you wish to purchase, your application is considered with the same regard.
    </p>

    <h3 id='faq-steps'>What are the steps in the application process?</h3>

    <img class='img-responsive img-thumbnail' src="/static/images/CityofClevelandSideyardProcess.png"/>

    <h3 id='#faq-decision'>Why can’t you tell me how long it will take to make a decision about my application?</h3>
    <p> The application process can be a lengthy one for the following reasons:
      <ul>
        <li>Adequate staffing levels to process an increased volume of applications.</li>
        <li>Staff changes which contributed to a current backlog of applications.</li>
        <li>Additional requested information from the applicant has not been provided.</li>
        <li>Application must be reviewed by many parties (as shown in the flow chart), which extends processing time.</li>
        <li>Additional review may be required for lots in Design Review Districts, Landmark Districts, or Special Development areas. </li>
      </ul>
    </p>

    <h3 id='faq-notified'>How will I be notified when a decision is made about my application?</h3>

    <p> You will be notified by phone, email, or mail if your application is approved or disapproved. If approved, you will receive a deed package which will include the property deed that you will need to sign and return, along with payment for the property.</p>

    <h3 id='faq-plant'>What can I plant in my sideyard?</h3>

    <p>Native plants and shrubs are welcome to be planted, though you are invited to be creative. For a list of native plant examples, visit <a href="http://www.plantnative.org/rpl-inoh.htm">Plant Native</a>. For more on native plants, check out the <a href="http://www.nativeplantsocietyneo.org/">Native Plant Society of Northeastern Ohio</a>. For ideas on incorporating native plants, shrubs, and trees, visit the <a href="http://www.scribd.com/doc/83096964/Re-Imagining-Cleveland-Ideas-to-Action-Resource-Book ">Re-Imagining Cleveland Ideas to Action Resource Book</a>.</p>

    <h3 id='faq-fence'>Can I put a fence around my sideyard?</h3>

    <p>Yes, you can put a fence around your sideyard, but it must comply with city code. It must be no more than 6 feet high at the back and sides of the property. Fencing at the front of the property must be no more than 4 feet high, and usually must be constructed of an ornamental fencing material such as wood, metal, or vinyl. For a more detailed description of the fence requirements, see the <a href='http://library.amlegal.com/nxt/gateway.dll/Ohio/cleveland_oh/partthreelandusecode/partiiiblandusecode-zoningcode/titleviizoningcode/chapter358-fenceregulations?f=templates$fn=default.htm$3.0$vid=amlegal:cleveland_oh$anc=JD_358.04'>Cleveland Code</a> on the topic.</p>

    <h3 id='faq-driveway'>What if the sideyard I purchase still includes the driveway apron?</h3>

    <p>In some cases, a driveway apron was not removed during a past demolition. Once you purchase the sideyard, removal of the driveway apron is needed, and the tree lawn and curb for that lot are reinstated.</p>



    <hr />
    <h2 id='questions'>More questions?</h2>
    <p>Please direct questions to:</p>
    <p>
          City of Cleveland Land Bank<br />
          Phone: (216) 664-4126<br />
          Email: <a href='mailto:CD-DND@city.cleveland.oh.us'>CD-DND@city.cleveland.oh.us</a>
    </p>

    <p>If you have questions about the <strong>ClevelandLots.org</strong> website, contact us at <a href='mailto:opencleveland@gmail.com'>opencleveland@gmail.com</a></p>
  </div>
{% endblock %}
