{% extends "base.html" %}
{% block title %} | FAQ {% endblock %}
{% block content %}
  <div class='col-md-8'>
    <h2>Frequently asked questions</h2>

    <div class='well'>
      <ul>
        <li><a href='#faq-timeline'>Once I apply, how long will it take to hear back?</a></li>
        <li><a href='#faq-evaluation'>How will applications be evaluated?</a></li>
        <li><a href='#faq-how-many-times'>How many times can I apply?</a></li>
        <li><a href='#faq-assistance'>Where can I get help in filling out my application?</a></li>
        <li><a href='#faq-estimated-taxes'>How much in property taxes will I pay?</a></li>
        <li><a href='#faq-back-taxes'>Will I have to pay back taxes?</a></li>
        <li><a href='#faq-block'>What does it mean that I have to live on the same block?</a></li>
        <li><a href='#faq-deed'>How do I download my deed from the Cook County Recorder of Deeds?</a></li>
      </ul>
    </div>

    <h3 id='faq-timeline'>Once I apply, how long will it take to hear back?</h3>
    <p>Applicants will receive information regarding the status of their application in mid-September, about 6 weeks after the application period has ended.</p>

    <h3 id='faq-evaluation'>How will applications be evaluated?</h3>
    <p>The main point of evaluation is to assess the completeness of the application and proof of ownership. If multiple requests are submitted for the same property the City will review on a case by case basis.</p>

    <h3 id='faq-how-many-times'>How many times can I apply?</h3>
    <p>Only <strong>one application</strong> will be accepted per property deed. If you own multiple properties in East Garfield Park, you can submit one application per property. If you have a deed with multiple grantors listed, only one application can be submitted.</p>

    <h3 id='faq-assistance'>Where can I get help in filling out my application?</h3>
    <p>You can get free assistance in filling out your application from <a href='http://old.chipublib.org/eventsprog/programs/cyber_nav.php'>Cyber Navigators</a> at the Legler, Richard M. Daley or Manning Public Libraries near East Garfield Park, or from City of Chicago staff downtown at the Department of Planning and Development.</p>
    
    <div class='row'>
      <div class='col-md-6'>
        <dl>
          <dt>Legler Library</dt>
          <dd><i class='fa fa-map-marker'></i> <a href='https://www.google.com/maps/preview?q=115+s+pulaski+chicago'>115 S. Pulaski Rd Chicago, IL 60624</a></dd>
          <dd><i class='fa fa-phone'></i> (312) 746-7730</dd>
          <dd>
            <i class='fa fa-user'></i> Cassandra Harlan
            <ul>
              <li>Wednesday: 12:00 p.m. &mdash; 7:00 p.m.</li>
              <li>Thursday: 10:00 p.m. &mdash; 5:30 p.m.</li>
              <li>Saturday: 9:00 p.m. &mdash; 5:00 p.m.</li>
            </ul>
          </dd>

          <dt>Richard M. Daley Library</dt>
          <dd><i class='fa fa-map-marker'></i> <a href='https://www.google.com/maps/preview?q=733+n+kedzie+chicago'>733 N. Kedzie Ave Chicago, IL 60612</a></dd>
          <dd><i class='fa fa-phone'></i> (312) 743-0555</dd>
          <dd>
            <i class='fa fa-user'></i> Zachary Herbert
            <ul>
              <li>Monday: 12:00 p.m. &mdash; 6:00 p.m.</li>
              <li>Tuesday: 1:00 p.m. &mdash; 7:00 p.m.</li>
              <li>Wednesday: 1:00 p.m. &mdash; 6:00 p.m.</li>
              <li>Thursday: 1:00 p.m. &mdash; 7:00 p.m.</li>
            </ul>
          </dd>
        </dl>
      </div>

      <div class='col-md-6'>
        <dl>
          <dt>Manning Library</dt>
          <dd><i class='fa fa-map-marker'></i> <a href='https://www.google.com/maps/preview?q=6+s+hoyne+chicago'>6 S. Hoyne Ave Chicago, IL 60612</a></dd>
          <dd><i class='fa fa-phone'></i> (312) 746-6800</dd>
          <dd>
            <i class='fa fa-user'></i> Chi Chan
            <ul>
              <li>Tuesday: 11:30 a.m. &mdash; 5:30 p.m.</li>
              <li>Wednesday: 12:00 p.m. &mdash; 7:00 p.m.</li>
              <li>Thursday: 10:00 a.m. &mdash; 1:00 p.m.</li>
            </ul>
          </dd>

          <dt>Department of Planning and Development</dt>
          <dd><i class='fa fa-map-marker'></i> <a href='https://www.google.com/maps/preview?q=121+n+lasalle+chicago'>121 N. LaSalle St, Room 905 Chicago, IL 60602</a></dd>
          <dd><i class='fa fa-phone'></i> (312) 744-0605</dd>
          <dd><i class='fa fa-envelope'></i> <a href='mailto:Jeanne.chandler@cityofchicago.org'>Jeanne.chandler@cityofchicago.org</a></dd>
          <dd>
            <i class='fa fa-user'></i> Jeanne Chandler
            <ul>
              <li>Monday &mdash; Friday: 9:00 a.m. &mdash; 5:00 p.m.</li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>

    <h3 id='faq-estimated-taxes'>How much in property taxes will I pay?</h3>
    <p>The amount of yearly property tax you will pay is determined by the <a href='http://www.cookcountyassessor.com/'>Cook County Assessor</a> and based on the <a href='http://www.cookcountyassessor.com/propertyvaluation.aspx'>assessed value</a> of the property and the tax rates for all local governments providing services in your community.</p>

    <p>To get a sense of what the property tax will be for your vacant lot, we took a look at the taxes paid for a few vacant lots sold by the City of Chicago:</p>

    <table class='table'>
      <thead>
        <tr>
          <td>Address</td>
          <td>Sq ft</td>
          <td>Assessed value</td>
          <td>2012 taxes</td>
          <td>Sold on</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>5302 S Winchester Ave</td>
          <td>2,892</td>
          <td>$15,900</td>
          <td><a href='http://cookcountypropertyinfo.com/Pages/PIN-Results.aspx?PIN=20074160240000'>$287.65</a></td>
          <td><a href='http://chicagocouncilmatic.org/legislation/935330'>Sept 8, 2011</td>
        </tr>
        <tr>
          <td>745 N Cicero Ave</td>
          <td>3,305</td>
          <td>$28,268</td>
          <td><a href='http://cookcountypropertyinfo.com/Pages/PIN-Results.aspx?PIN=16101000030000'>$548.01</a></td>
          <td><a href='http://chicagocouncilmatic.org/legislation/915228'>Jul 6, 2011</td>
        </tr>
        <tr>
          <td>1319 S Tripp Ave</td>
          <td>3,142</td>
          <td>$31,420</td>
          <td><a href='http://cookcountypropertyinfo.com/Pages/PIN-Results.aspx?PIN=16222110070000'>$563.81</a></td>
          <td><a href='http://chicagocouncilmatic.org/legislation/874345'>Apr 13, 2011</td>
        </tr>
        <tr>
          <td>1326 W 109th St</td>
          <td>3,730</td>
          <td>$20,510</td>
          <td><a href='http://cookcountypropertyinfo.com/Pages/PIN-Results.aspx?PIN=25173130320000'>$368.83</a></td>
          <td><a href='http://chicagocouncilmatic.org/legislation/848704'>March 9, 2011</td>
        </tr>
      </tbody>
    </table>

    <h3 id='faq-back-taxes'>Will I have to pay back taxes?</h3>
    <p>No you will not. When the lot is sold, no unpaid taxes by the previous owner will be transferred to you.</p>

    <h3 id='faq-block'>What does it mean that I have to live on the same block?</h3>

    <p><img class='img-responsive img-thumbnail' src='/static/images/same-block.png' /></p>

    <p>Property owners can purchase a city-owned lot:</p>

    <ul>
      <li>On their side of the street</li>
      <li>Across the street</li>
      <li>Across the alley behind their property</li>
    </ul>

    <h3 id='faq-deed'>How do I download my deed from the Cook County Recorder of Deeds?</h3>
    <p>The <a href="http://12.218.239.81/i2/default.aspx" target="blank">Cook County Recorder of Deeds</a> holds records of property ownership. If your deed was dated <strong>before 1985</strong>, you will need to pick up your deed in person at <a href="https://www.google.com/maps/place/Cook+County+Recorder+of+Deeds/@41.883823,-87.63144,17z">118 N Clark St</a> and then scan or take a picture of it.</p>

    <p>If your deed is from <strong>after 1985</strong>, you can download a scanned version of your property deed by following these steps:

    <p><strong>1. Look up your Property Identification Number (PIN)</strong></p>

    <p>You will need to know the <strong>PIN</strong> of <i>your own</i> property. You can look it up by your address on <a href='http://cookcountypropertyinfo.com/Pages/PIN-Search.aspx'>CookCountyPropertyInfo.com</a>.</p>

    <p><a href='http://cookcountypropertyinfo.com/Pages/PIN-Search.aspx'><img class='img-responsive img-thumbnail' src='/static/images/ccpi-website.png' /></a></p>

    <p><strong>2. Search records under your PIN</strong></p>

    <p class="deed-explain">
      Enter your current PIN <a href="http://12.218.239.81/i2/default.aspx" target="blank">here</a> and click Search. You will see a list of various records associated with your PIN.
    </p>

    <p>
      <img class='img-responsive img-thumbnail' src="/static/images/deed1.png"/>
    </p>

    <p><strong>3. View your deed</strong></p>
    <p class="deed-explain">
    Click on the most recent deed - this will likely be in the first row. Document details will show up on the right side of the page, and a scanned image of your deed will show up in a new window. If you do not see the scanned image, click View Images (make sure pop-ups are allowed).</p>

    <p>
      <img class='img-responsive img-thumbnail' src="/static/images/deed2.png"/>
    </p>

    <p><strong>4. Download your deed as a PDF (this costs $4.00)</strong></p>
    <p class="deed-explain">
    Within the pop-up, click Print Document and enter your payment information. Once you are done, you will have the scanned document as a PDF on your computer.</p>

    <p>
      <img class='img-responsive img-thumbnail' src="/static/images/deed3.png"/>
    </p>

    <hr />
    <h2 id='questions'>More questions?</h2>
    <p>Read more about this program on the <a href='http://www.cityofchicago.org/city/en/depts/dcd/supp_info/large-lot-program.html'>City of Chicago website</a>. Please direct questions about the Large Lot Pilot Program to:</p>

    <p>
      Jeanne Chandler<br />
      City of Chicago Department of Planning and Development<br />
      Phone: (312) 744-4190<br />
      Email: <a href='mailto:jeanne.chandler@cityofchicago.org'>jeanne.chandler@cityofchicago.org</a>
    </p>

    <p>If you have questions about the <strong>LargeLots.org</strong> website, contact us at <a href='mailto:info@largelots.org'>info@largelots.org</a></p>
  </div>
{% endblock %}
