{% extends "base.html" %}
{% load staticfiles %}
{% block title %} | Application status {% endblock %}
{% block extra_css %}
    <style id="englewood-styles">
      #full_area_lots {
        polygon-fill: #6ac682;
        polygon-opacity: 0.7;
        line-color: #389250;
        line-width: 0.5;
        line-opacity: 1;
      }
      #full_area_lots[status=1]{
        polygon-fill: #A1285D;
        line-color: #680D35;
      }
    </style>
{% endblock %}
{% block content %}
      <div class='col-md-12'>

        <div class='row'>
          <div class='col-md-12'>
            <h1>Greater Englewood Area <span class='label label-applied'>Closed</span></h1>
            <div class='row'>
              <div class='col-md-8'>
                <p>The Englewood pilot ended on <strong>April 21st, 2014</strong> and <strong>414 applications</strong> for lots were received. If you submitted an application, browse the map or enter your address below to see what lots have been applied for.</p>
              </div>
            </div>

            <p>
              <form class='form-inline hidden-print' id='lot-form'>
                <div class="form-group">
                  <input class='form-control input-lg' id='search_address' placeholder='Enter your address' type='text' />
                  <input class='btn btn-primary btn-lg' id='search' type='button' value='Search' />
                </div>
                <div class="form-group">
                    <input id="available" class="toggle-parcels checkbox" type="checkbox" />

                    <label for='available'><span class="label label-available">Not applied for</span></label>

                    <input id="applied" class="toggle-parcels checkbox" type="checkbox" checked=true />
                    <label for='applied'><span class="label label-applied">Application received</span></label>
                </div>
              </form>
            </p>
          </div>

          <div class='col-md-8'>
            <div id='map'></div>
          </div>
          <div class='col-md-4'>
            <div class='well' id='lot-info'>
              <p>To get started:</p>

              <ol>
                <li>Enter your address to view available lots near you</li>
                <li>Click on a lot on the map for details</li>
              </ol>
            </div>
          </div>
        </div>

        <div class="footer">
          <p class='pull-right'>&copy; <a href='http://datamade.us'>DataMade</a> and <a href='http://www.lisc-chicago.org/'>LISC-Chicago</a></p>
        </div>
      </div>
{% endblock %}
{% block extra_js %}
    <script type="infowindow/html" id="infowindow_template">
    <div class="cartodb-popup">
      <a href="#close" class="cartodb-popup-close-button close">x</a>
      <div class="cartodb-popup-content-wrapper">
        <div class="cartodb-popup-content">
          <h4>{{content.data.street_number}} {{content.data.dir}} {{content.data.street_name}} {{content.data.type}}</h4>
            <p>PIN: {{content.data.pin14}}<br />
            Zoned: {{content.data.zoning_classification}}<br />
            Sq Ft: {{content.data.sq_ft}}<br />
            Alderman: (Ward {{content.data.ward}})</p>
        </div>
      </div>
      <div class="cartodb-popup-tip-container"></div>
    </div>
    </script>
    <script src="{% static 'js/jquery.address.js' %}"></script>
    <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>

    <!--<script src="js/leaflet.js" type="text/javascript"></script> -->
    <script src="{% static 'js/leaflet.label.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/largelots_pilot1.js' %}"></script>
    <script src="{% static 'js/analytics_lib.js' %}"></script>

    <script>
      $(function() {
        LargeLots.initialize();
      });

      $("#search").on("click", LargeLots.addressSearch);
      $("#search_address").on("keydown", function(e){
        if(e.keyCode == 13){
          LargeLots.addressSearch(e);
        }
      });

      $("#print-page").on("click", function(){ window.print(); });
    </script>
{% endblock %}

