{% extends "base.html" %}
{% load staticfiles %}
{% block title %} | Application status {% endblock %}
{% block extra_css %}
    <style id="egp-styles">
      #egp_parcels {
        polygon-fill: #6ac682;
        polygon-opacity: 0.7;
        line-color: #389250;
        line-width: 0.5;
        line-opacity: 1;
      }
    </style>
{% endblock %}
{% block content %}
      <div class='col-md-12'>

        <div class='row'>
          <div class='col-md-12'>
            <h1>East Garfield Park <small class='closed'>Closed</small></h1>
            <div class='row'>
              <div class='col-md-9'>
                <p> The second Large Lot Program ended in East Garfield Park on <strong>August 4th at 11:59 p.m.</strong> Applicants will be contacted via a letter regarding the status of their application sometime after the 1st week of October.</p>

                <p>Browse the map or enter your address below to see what lots have been <strong class='closed'>applied for and approved</strong> by the Chicago Plan Commission.</p>
              </div>
            </div>

            <p>
              <form class='form-inline hidden-print' id='lot-form'>
                <div class="form-group">
                  <input class='form-control input-lg' id='search_address' placeholder='Enter your address' type='text' />
                  <input class='btn btn-primary btn-lg' id='search' type='button' value='Search' />
                </div>
                <div class="form-group">
                    <input id="available" class="toggle-parcels checkbox" type="checkbox" />

                    <label for='available'><span class="label label-available">Not applied for</span></label>

                    <input id="applied" class="toggle-parcels checkbox" type="checkbox" checked=true />
                    <label for='applied'><span class="label label-applied">Application approved</span></label>
                </div>
              </form>
            </p>
          </div>

          <div class='col-md-8'>
            <div id='map'></div>
          </div>
          <div class='col-md-4'>
            <div class='well' id='lot-info'>
              <p>To get started:</p>

              <ol>
                <li>Enter your address to view available lots near you</li>
                <li>Click on a lot on the map for details</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
{% block extra_js %}
    <script type="infowindow/html" id="infowindow_template">
    <div class="cartodb-popup">
      <a href="#close" class="cartodb-popup-close-button close">x</a>
      <div class="cartodb-popup-content-wrapper">
        <div class="cartodb-popup-content">
          <h4>{{content.data.street_number}} {{content.data.dir}} {{content.data.street_name}} {{content.data.type}}</h4>
            <p>PIN: {{content.data.pin14}}<br />
            Zoned: {{content.data.zoning_classification}}<br />
            Sq Ft: {{content.data.sq_ft}}<br />
            Alderman: (Ward {{content.data.ward}})</p>
        </div>
      </div>
      <div class="cartodb-popup-tip-container"></div>
    </div>
    </script>
    <script src="{% static 'js/jquery.address.js' %}"></script>
    <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>

    <!--<script src="js/leaflet.js" type="text/javascript"></script> -->
    <script src="{% static 'js/leaflet.label.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/largelots_status.js' %}"></script>

    <script>
      $(function() {
        var init_params = {
            map_centroid: [41.8787248907554, -87.7055433591891],
            boundaryCartocss: '#east_garfield_park{polygon-fill: #ffffcc;polygon-opacity: 0.2;line-color: #FFF;line-width: 3;line-opacity: 1;}',
            parcelsCartocss: $('#egp-styles').html().trim(),
            boundingBox: {
              'bottom': 41.868506217235485,
              'top': 41.891607773180716,
              'right': -87.68617630004883,
              'left': -87.7223539352417
            },
            defaultZoom: 14,
            tableName: 'egp_parcels',
            mainWhere: " where city_owned='T' and residential='T' and alderman_hold != 'T'",
            overlayName: "chicago_community_areas WHERE community = 'EAST GARFIELD PARK'",
            fields: "pin14,zoning_classification,ward,street_name,street_dir,street_number,street_type"
        }
        LargeLots.initialize(init_params);
      });

      $("#search").on("click", LargeLots.addressSearch);
      $("#search_address").on("keydown", function(e){
        if(e.keyCode == 13){
          LargeLots.addressSearch(e);
        }
      });

      $("#print-page").on("click", function(){ window.print(); });
    </script>
{% endblock %}

